blockquote{
  border: 1px dashed #0102EF;
  border-radius: 10px;
  width: 721px !important;
  font-style: normal !important;
  height: 82px !important;
  margin: 36px auto !important;
  /* padding: 0 !important; */
}
blockquote p{
  font-size: xx-large;
  color: #0102EF;
  font-weight: 600;
  width: fit-content;
  text-wrap: none;
  font-size: 24px !important;
}
.slogan-font{
  font-size: 50px;
}
.points{
  width: 100%;
  height: auto;
}
.points ul{
  margin-bottom: 0px;
  padding-left: 12px;
  list-style-image: url('../img/arrow.svg');
}

li::marker {
  aspect-ratio: 1/1 !important;
}

.points ul li{
  margin-bottom: 10px;
  letter-spacing: 0.8px;
}
.points ul li:last-child{
  margin-bottom: 0px;
}
.single-footer-widget .footer-info-list li {
  font-weight: normal;
}
.prise{
  font-size: xx-large;
  color: #ED193F;
  font-weight: 500;
  margin-bottom: 25px;
}
.tab-pane p span{
  font-weight: 500;
    color: #4e4e4e;
}
.shop_attributes tr th{
  font-weight: 500;
    color: #4e4e4e;
}
.product-header{
  display:flex;
  width:100%;
  border-top:2px solid #f2f2f2;
  border-bottom:4px solid #f2f2f2;
  border-left:2px solid #f2f2f2;
  border-right:2px solid #f2f2f2;
  padding: 10px 0;
  font-weight: 600;
}
.product-contain{
  display:flex;
  flex-direction: row;
  align-items: stretch;
  gap: 16px;
  width:1110px;
  padding: 16px;
  margin: 16px auto; 
  border:2px solid #f2f2f2;
}
.product-contain2{
    display:flex;
}
.btn {
  background-color: #ED193F;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(212, 0, 39);
}
.product-list{
  width: 1140px;
  height: auto;
}
.cleaning-details{
  width: 100%;
  height: auto;
  padding-top: 10px;
  font-size: 14px;
}
.cleaning-details ul{
  width: 100%;
  height: auto;
  padding-left:0;
  list-style: none;
  font-weight: 500;
  color: #4e4e4e;
}
.cleaning-details ul li{
  width: 100%;
  height: auto;
}
.cleaning-details ul li span{
  width: 100%;
  height: auto;
  font-weight: normal;
  padding-left: 10px;
  }
  .cleaning-title{
    width: 100%;
    text-align: left;
    font-weight: bold;
    /* color: #e8a901; */
  }
  .d-flex-wrap1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .d-flex-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .d-flex-wrap-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .coupon-input{
    padding: 10px;
    width: 110px;
    box-sizing: border-box;
    border: 1px solid #d3ced2;
    padding: 6px 6px 5px;
    margin: 0 4px 0 0;
    outline: 0;
    font-size: 14px;
    text-align: center;
  }
  .single-services .services-content-wrapper {
    padding: 20px 20px 20px 20px;
}
.booknow-btn {
  padding: 5px 14px;
  width: 95px;
  text-wrap: nowrap;
  border: #ff0000 1px solid;
  border-radius: 5px;
  margin-left: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: #ed193f;
  font-size: 14px;
  font-weight: 600;
}

.booknow-btn:hover {
  background-color: #ed193f; /* The background color when hovered */
  color: white; /* Change text color to white when hovered */
}

/* Active state (when clicked) */
.booknow-btn:active {
  background-color: #ed193f; /* Same color as hover */
  color: white; /* Text color stays white */
}
.counter-section {
  clip-path: none;
}
.counter-section::before {
  content: "";
  background-color: rgb(255, 255, 255);
}
.single-counter h3 {
  color: #000;
}
.single-counter p {
  color: #323232;
}
.testimonial-single-item{
  height: 280px;
}
.error{
    color: #ff0000 !important;
    font-weight: 300 !important;
    margin-bottom: 0px !important;
    margin-top: 3px !important;
}
.cash-pay{
    background:#f2f2f2;padding:5px;margin-top:10px
}
.upi-pay{
    background:#f2f2f2;padding:5px;margin-top:10px;
}

.login-row {
  display: flex !important;
  flex-direction: column !important;
}

.imgwcard {
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}